{% extends 'web_admin/base/base.html' %}

{% block CSSandJS_Links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='web_admin/css/err-page.css') }}">
{% endblock %}


{% block styles_script %}
    
{% endblock %}


{% block content %}
<section class="error-container flex items-center justify-center w-full min-h-[calc(100svh-theme(width.28))]">
    <section class="error-status card max-w-full md:max-w-md lg:max-w-lg p-6 border border-gray-200 rounded-lg shadow-sm">
    {% block errorStatus %}
    {% endblock %}
    </section>
</section>
{% endblock %}