{% set site_title = SITE_INFO["site_title"] %}
{% set site_tagline = SITE_INFO["site_tagline"] %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %} {{ site_title }} - BitnShop {% endblock %}</title>
        <link href="{{url_for('static',filename='web_admin/css/output.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='web_admin/css/style.css')}}">
        
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        {% block CSSandJS_Links %}{% endblock %}
        {% block styles_script %}{% endblock %}
    </head>

    <body class="" style="background: #edf2f7;">
        {% include 'web_admin/components/header.html' %}

        <section id="wrapper" class="min-h-svh pt-16">
            {% include 'web_admin/components/sidebar.html' %}

            <!-- Main content -->
            <section id="main" class="dash-main p-5 min-h-svh flex flex-col gap-y-4 bg-gray-50 dark:bg-gray-800 lg:min-h-[calc(100svh-theme(width.16))]">
                {% include 'web_admin/components/alert_modal.html' %}
                
                <div class="overflow-auto h-full">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <script src="{{ url_for('static', filename='web_admin/js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='web_admin/js/alert.js') }}"></script>
    </body>
</html>