{% set site_title = SITE_INFO["site_title"] %}
{% set site_tagline = SITE_INFO["site_tagline"] %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %} {{ site_title }} - BitnShop {% endblock %}</title>

        <link href="{{url_for('static',filename='web_admin/css/output.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='web_admin/css/style.css')}}">
        
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        {% block CSSandJS_Links %}{% endblock %}
        {% block styles_script %}{% endblock %}
    </head>
    
    <body class="bg-gray-50">
        <section id="wrapper" class="h-svh p-4 lg:p-8">
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>