**/__pycache__/
.pytest_cache/
.venv/
.wsl_env/
migrations/
migrations_l/
migrations_p/
migrations_s/
node_modules/
.env
.flaskenv
instance/
codebase.txt

# Editor directories and files
.vscode/
.vscode/*
.cursor/
.cursor/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?