{% extends 'web_admin/base/base.html' %}
{% block title %} Payment Settings - {{ super() }}{% endblock %}

{% block styles_script %}
<style>
    .status-badge.enabled {
        border: 1px solid var(--theme-success-solid);
        background-color: var(--theme-success);
        color: var(--theme-success-solid);
    }
    .status-badge.disabled {
        border: 1px solid #374151;
        background-color: #3741512b;
        color: #374151;
    }
</style>
{% endblock %}

{% block content %}

<section class="">
    <div class="mx-auto max-w-screen-lg lg:py-16 lg:pt-1">
        <h2 class="mb-2 text-2xl font-bold text-gray-900 dark:text-white">Payment Settings</h2>
        <p class="mb-6 text-md text-gray-600 dark:text-white">
            Configure how payments are handled on your website.
        </p>
        
        <div class="w-full rounded-lg shadow border border-gray-200 dark:border-gray-700 min-h-64">
            <div class="card-header px-5 py-4 pb-2 border-outline-clr">
                <p class="font-medium"> Payment Methods </p>
                <small class="text-xs text-gray-600 dark:text-white"> 
                    Supported payment methods are listed below and can be setup accordingly
                </small>
            </div>

            <div class="card-body px-5 py-5 pt-1">
                <div class="payment-methods border border-outline-clr rounded-lg">
                    {% for method in payment_methods %}
                    <div class="payment-method px-5 py-4 border-b border-outline-clr min-h-20 flex items-start flex-col md:flex-row md:items-center md:justify-between gap-y-[15px]">
                        <div class="payment-method-info relative w-full">
                            <h4 class="text-md font-bold text-gray-900 mb-1 flex items-center gap-4 justify-between md:justify-normal w-full md:w-[unset]">
                                <a href="{{ method.setup_url }}" class="hover:text-theme-clr">
                                    {{ method.title }}
                                </a>
                                <!-- Enabled/Disabled Badge -->
                                <span class="status-badge {% if method.enabled %}enabled{% else %}disabled{% endif %} text-xs font-medium me-2 px-2.5 py-0.5 rounded-lg">
                                    {% if method.enabled %}Enabled{% else %}Disabled{% endif %}
                                </span>
                            </h4>
                            <p class="text-sm text-gray-600">{{ method.description }}</p>
                            
                        </div>

                        <!-- Setup Button -->
                        <a href="{{ method.setup_url }}" class="setup-button px-4 py-1.5 rounded-lg font-medium text-sm text-theme-clr border border-theme-clr">Setup</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <form method="post" action="{% block form_action %} {{ url_for('web_admin.general_settings') }} {% endblock %}" class="pt-2" id="general-settings-form" enctype="multipart/form-data">
        </form>
    </div>
</section>

{% endblock %}