<div class="collapsible w-full rounded-lg shadow border bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700 text-gray-900 dark:text-white">
    <div class="collapsible-header px-5 py-4 border-b border-outline-clr cursor-pointer">
        <div class="collapsible-title flex items-center gap-2">
            <i class="bx bxs-info-circle icon"></i>
            <span> Product Tags </span>
        </div>
    </div>

    <div class="collapsible-body px-5 py-4" aria-hidden="true">
        <div class="form-group w-full">
            <label for="prod_tags_entry" class="block mb-2 text-sm font-medium">Select Tag</label>

            <div class="inlineInput tag-input-suggestions flex gap-2">
                <input class="form-control text-sm rounded-lg shadow-sm-light border border-outline-clr focus:ring-theme-clr focus:border-theme-clr p-2.5 placeholder-gray-400 outline-none bg-gray-50 text-gray-900 w-[85%] flex-1" id="prod-tags-entry" name="prod_tags_entry" type="text">
                <button class="btn add-new-tag loadable inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-theme-clr rounded-lg hover:bg-theme-hvr-clr focus:ring-2 focus:outline-none focus:ring-outline-clr flex-none" id="add-tag-btn">
                    <span class="btn-txt">Add</span>
                </button>
                <ul id="tag-suggestions" class="hidden"></ul>
            </div>
            <small class="input-info">Separate tags with commas</small>
        </div>

        <div class="form-group w-full">
            <div id="tag-list" role="list" class="tag-list flex gap-2">
                {% if product and product.tags %}
                    {% for tag in product.tags %}
                        <div class="tag-list-item inline-flex gap-2 items-center">
                            <span title="{{ tag.name }}" class="title">{{ tag.name }}</span>
                            <button aria-label="Remove {{ tag.name }}" class="tag-del-btn btn inline-flex items-center"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="hidden-tags-input" id="hidden-tags-input">
                {{ form.product_tags(class_ = 'form-control', value=product.tags|map(attribute='name')|join(', ')) }}
            </div>
        </div>
    </div>
</div>