<div class="collapsible collapsed w-full rounded-lg shadow border bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700 text-gray-900 dark:text-white">
    <div class="collapsible-header px-5 py-4 border-b border-outline-clr cursor-pointer">
        <div class="collapsible-title flex items-center gap-2">
            <i class="bx bxs-info-circle icon"></i>
            <span> Variations </span>
        </div>
    </div>

    <div class="collapsible-body px-5 py-4" aria-hidden="true">
        <div class="info">
            <p>You can choose from the built-in variation type below (Color), or you could add your own variation types.</p>
        </div>
        <div id="prod-vars"></div>
        
        <div class="form-group">
            <label class="var-options-label block mb-2 text-sm font-medium" for="var-options">Choose Variation Type</label>
            <div class="var-pptions">
                <span class="var-type" id="var-color">Color</span>
                <span class="var-type btn" id="add-var-btn">Add Variation Type</span>
            </div>
        </div>

        <div class="form-group">
            <label class="all-varnts">All Variants</label>
            <div id="all-variants" class="form-group">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="block mb-2 text-sm font-medium">Name</label>
            {{ form.name(class_ = 'form-control text-sm rounded-lg shadow-sm-light border dark:border-2 dark:focus:border-2
            border-outline-clr focus:ring-theme-clr focus:border-theme-clr block w-full p-2.5 placeholder-gray-400
            outline-none
            bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-white', placeholder='example@mail.com', autofocus = true) }}
    
            {% for error in form.name.errors %}
            <div class="alert alert-error form-error" role="alert">
                {{ error }}
            </div>
            {% endfor%}
        </div>
    
        <div class="form-group">
            <label for="description"
                class="block mb-2 text-sm font-medium">Description</label>
            {{ form.description(class_ = 'form-control text-sm rounded-lg shadow-sm-light border dark:border-2
            dark:focus:border-2 border-outline-clr focus:ring-theme-clr focus:border-theme-clr block w-full p-2.5
            placeholder-gray-400 outline-none bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-white', autofocus = true)
            }}
            {% for error in form.description.errors %}
            <div class="alert alert-error form-error" role="alert">
                {{ error }}
            </div>
            {% endfor%}
        </div>
    </div>
</div>