<p class="mb-2 font-normal text-gray-700">
    You can use the buttons below to go back to the previous page or back to the Dashboard.
</p>

<div class="err-btns flex mt-4 md:mt-6 justify-between">
    <a class="err-btn cursor-pointer py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100" onclick="history.back()"> 
        <span>Go back</span>
    </a>

    <a class="err-btn inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-theme-clr rounded-lg hover:bg-theme-hvr-clr focus:ring-4 focus:outline-none focus:ring-outline-clr" href="/shop-admin/"> 
        <span>Dashboard</span>
    </a>
</div>