{% macro render_menu_item(menu_item, depth=0) %}
    <li>
        <span
            class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group"
            {% if menu_item.children %}
            aria-controls="dropdown-{{menu_item.name}}-menu"
            data-collapse-toggle="dropdown-{{menu_item.name}}-menu"
            {% endif %}
        >
            <a href="{{menu_item.url}}" class="flex items-center flex-1">
                <i class="bx {{menu_item.icon_class}} flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white text-2xl text-center my-auto"></i>
                <span class="flex-1 ms-3 whitespace-nowrap">{{menu_item.label}}</span>
            </a>
            {% if menu_item.children %}
            <i class="bx bx-chevron-down w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white text-2xl text-center my-auto cursor-pointer" aria-hidden="true"></i>
            {% endif %}
        </span>
        {% if menu_item.children %}
        <ul id="dropdown-{{menu_item.name}}-menu" class="hidden py-2 space-y-2 pl-4">
            {% for child in menu_item.children if child.is_active %}
                {{ render_menu_item(child, depth + 1) }}
            {% endfor %}
        </ul>
        {% endif %}
    </li>
{% endmacro %}

<!-- Fixed sidebar -->
<aside id="logo-sidebar"
    class="fixed text-base top-0 left-0 z-40 w-64 md:w-2/12 h-screen pt-20 transition-transform -translate-x-full border-r md:translate-x-0 bg-gray-800 border-gray-700"
    aria-label="Sidebar">
    <div class="h-full px-4 pb-5 overflow-y-auto bg-gray-800">
        <ul class="space-y-2 font-medium">
            {% for menu_item in MENU_ITEMS if not menu_item.parent_id and menu_item.is_active %}
                {{ render_menu_item(menu_item) }}
            {% endfor %}
        </ul>
    </div>
</aside>