{% extends 'web_admin/base/auth_base.html' %}
{% block title %}Login - {{ super() }}{% endblock %}

{% block CSSandJS_Links %} {% endblock %}


{% block content %}

<!-- Main content -->
<div class="form-wrapper h-full my-auto flex align-center justify-center">
    <form method="post" class="form card w-full md:w-96 xl:w-4/12 p-6 rounded-lg shadow border bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700" action="" id="login-form" enctype="multipart/form-data">
        <div class="card-body text-gray-900 dark:text-white">
            {% if 'csrf_token' in form %}
            {{form.csrf_token}}
            {% endif %}
            <h3 class="form-heading mb-6 font-bold text-2xl"> Login </h3>
            
            <div class="form-group">
                <label for="email_username" class="block mb-2 text-sm font-medium">Email/Username</label>
                {{ form.email_username(class_ = 'form-control text-sm rounded-lg shadow-sm-light border dark:border-2 dark:focus:border-2 border-outline-clr focus:ring-theme-clr focus:border-theme-clr block w-full p-2.5 placeholder-gray-400 outline-none bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-white', placeholder='example@mail.com', autofocus = true) }}
                
            </div>

            <div class="form-group">
                <label for="pwd">Password</label>
                <div class="form-group">
                    {{ form.pwd(class_ = 'form-control text-sm rounded-lg shadow-sm-light border dark:border-2 dark:focus:border-2 border-outline-clr focus:ring-theme-clr focus:border-theme-clr block w-full p-2.5 placeholder-gray-400 outline-none bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-white', placeholder='password', autofocus = true) }}
                </div>
            </div>

            <input type="submit" value="Login" class="btn inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-theme-clr hover:bg-theme-hvr-clr cursor-pointer">
        </div>
    </form>
</div>


{% endblock %}