<!-- Pagination Controls -->
<div
	class="pagination mt-8 flex items-center justify-center"
	aria-label="Page navigation"
>
	<ul class="inline-flex -space-x-px text-base h-8 rounded-lg overflow-y-hidden">
        <!-- Prev Link -->
		<li>
			<a href="{{ prev_url }}"
				class="flex items-center justify-center px-4 h-8 ms-0 leading-tight text-gray-500 border border-e-0 border-outline-clr rounded-s-lg hover:bg-theme-clr hover:text-white {% if not pagination.has_prev %} cursor-not-allowed text-gray-300 pointer-events-none bg-outline-clr {% endif %}"
				aria-disabled="{% if pagination.has_prev %}false{% else %}true{% endif %}">
				Prev
			</a>
		</li>

		<!-- Page Number Links -->
        {% set display_range = 2 %} <!-- Number of pages before and after the current page to display -->
        {% set start_page = pagination.page - display_range if pagination.page - display_range > 1 else 1 %}
        {% set end_page = pagination.page + display_range if pagination.page + display_range < total_pages else total_pages %}

        {% if start_page > 1 %}
            <li>
                <a href="{{ page_num_url }}&page=1" class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 border border-outline-clr hover:bg-theme-clr hover:text-white">
                1
                </a>
            </li>
            {% if start_page > 2 %}
                <span class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500">...</span>
            {% endif %}
        {% endif %}

        {% for page_num in range(start_page, end_page + 1) %}
            {% if page_num == pagination.page %}
                <span class="bg-theme-clr flex items-center justify-center p-4 leading-tight text-white">
                    {{ page_num }}
                </span>
            {% else %}
                <li>
                    <a
                        href="{{ page_num_url }}&page={{page_num}}"
                        class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 border border-outline-clr hover:bg-theme-clr hover:text-white"
                    >
                        {{ page_num }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if end_page < total_pages %}
            {% if end_page < total_pages - 1 %}
                <span class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500">...</span>
            {% endif %}
            <li>
                <a href="{{ page_num_url }}&page={{ total_pages }}" class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 border border-outline-clr hover:bg-theme-clr hover:text-white">
                {{ total_pages }}
                </a>
            </li>
        {% endif %}

        <!-- Next Link -->
		<li>
			<a href="{{ next_url }}"
				class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 border border-outline-clr rounded-e-lg hover:bg-theme-clr hover:text-white {% if not pagination.has_next %} cursor-not-allowed text-gray-300 pointer-events-none bg-outline-clr {% endif %}"
				aria-disabled="{% if pagination.has_next %}false{% else %}true{% endif %}">
				Next
			</a>
		</li>
	</ul>
</div>
