<!-- Fixed sidebar -->
<aside id="logo-sidebar" class="fixed text-base top-0 left-0 z-40 h-screen pt-20 transition-transform -translate-x-full lg:translate-x-0 bg-white dark:bg-gray-800 border-r border-outline-clr" aria-label="Sidebar">
    <div class="h-full px-4 pb-5 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="{{url_for('web_admin.index')}}" class="flex items-center p-2 rounded-lg text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="bx bxs-pie-chart flex-shrink-0 w-6 h-6 transition duration-75 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-2xl text-center my-auto"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Dashboard</span>
                </a>
            </li>

            <li>
                <span class="flex items-center p-2 rounded-lg text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                    aria-controls="dropdown-product-menu" data-collapse-toggle="dropdown-product-menu">
                    <a href="{{url_for('web_admin.products')}}" class="flex items-center flex-1">
                        <i class="bx bxs-cart flex-shrink-0 w-6 h-6 transition duration-75 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-2xl text-center my-auto"></i>
                        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Products</span>
                    </a>
                    <i class="bx bx-chevron-down w-6 h-6 transition duration-75 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-2xl text-center my-auto cursor-pointer" aria-hidden="true"></i>
                </span>
                <ul id="dropdown-product-menu" class="hidden py-2 space-y-2">
                    <li>
                        <a href="{{url_for('web_admin.products')}}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">All Products</a>
                    </li>
                    <li>
                        <a href="{{url_for('web_admin.add_new_product')}}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Add New</a>
                    </li>
                    <li>
                        <a href="{{url_for('web_admin.categories')}}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"> Categories </a>
                    </li>
                    <li>
                        <a href="{{url_for('web_admin.tags')}}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Tags</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="{{url_for('web_admin.order_list')}}" class="flex items-center p-2 rounded-lg text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="bx bxs-user flex-shrink-0 w-6 h-6 transition duration-75 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-2xl text-center my-auto"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Orders</span>
                </a>
            </li>

            <li>
                <a href="{{url_for('web_admin.users')}}" class="flex items-center p-2 rounded-lg text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="bx bxs-user flex-shrink-0 w-6 h-6 transition duration-75 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-2xl text-center my-auto"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Users</span>
                </a>
            </li>

            <li>
                <span class="flex items-center p-2 rounded-lg text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                    aria-controls="dropdown-settings-menu" data-collapse-toggle="dropdown-settings-menu">
                    <a href="{{url_for('web_admin.general_settings')}}" class="flex items-center flex-1">
                        <i class="bx bxs-cog flex-shrink-0 w-6 h-6 transition duration-75 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-2xl text-center my-auto"></i>
                        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Settings</span>
                    </a>
                    <i class="bx bx-chevron-down w-6 h-6 transition duration-75 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-2xl text-center my-auto cursor-pointer" aria-hidden="true"></i>
                </span>
                <ul id="dropdown-settings-menu" class="hidden py-2 space-y-2">
                    <li>
                        <a href="{{url_for('web_admin.general_settings')}}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">General Settings</a>
                    </li>
                    <li>
                        <a href="{{url_for('web_admin.payment_settings')}}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Payment Settings</a>
                    </li>
                    <li>
                        <a href="{{url_for('web_admin.navigation_settings')}}" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Navigation Settings</a>
                    </li>
                </ul>
            </li>

            <li class="hidden lg:block">
                <a href="#" class="flex items-center p-2 rounded-lg text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="bx bx bx-arrow-back flex-shrink-0 w-6 h-6 transition duration-75 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-2xl text-center my-auto"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Collapse menu</span>
                </a>
            </li>
        </ul>
    </div>
</aside>